@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
        url('EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
        url('EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}