.container-custom {
    max-width: 1368px;
    margin: 0 auto;
}
.font-euclid {
    font-family: "Euclid Circular A";
}
.font-grotesk {
    font-family: "Cy Grotesk";
}
.text-stroke {
    -webkit-text-stroke: 1px white;
}
ul.services li {
    border-bottom: 1px solid #27282B;
    height: 80px;
}